/* document */
html {
	font-size: 62.5%;
}

/* sectioning & structuring */
body {
	font-family: serif;
	border-top: 8px solid #000;
	font-size: 1.8rem;
	line-height: 1.8;
}

header, main {
	max-width: 470px;
	padding: 0 1.8rem;
}

header {
	margin: 1.8rem auto 0 auto;
}

main {
	margin: 4rem auto;
}

/* headings */
h1 {
	font-weight: bold;
	font-size: 4rem;
}

h2 {
	font-weight: bold;
	font-size: 2.4rem;
	margin-top: 1.8rem;
}

h3 {
	font-weight: bold;
	font-size: 2.1rem;
	margin-top: 1.8rem;
}

/* text & lists */
p, ul, ol {
	margin-top: 1.8rem;
}

h1:first-child, h2:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
	margin-top: 0;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

li {
margin-top: 0.8rem;
}

ul.exercises {
	list-style: none;
}

ul.links {
	list-style: none;
	text-align: center;
}

ul.links li {
	display: inline;
	margin: 0 1.8rem;
}

/* phrasing */
a {
	font-weight: bold;
	color: #1c56dd;
}

a:hover {
	color: #1c56dd;
	text-decoration: none;
	cursor: e-resize;
}

a[href^="http://"]:not([href*="github.com"]):hover,
a[href^="https://"]:not([href*="github.com"]):hover {
    cursor: ne-resize;
    color: #1faa22;
}

header a:hover {
	cursor: w-resize;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

code {
	font-family: monospace;
	background-color: #eff0f1;
}

p code, li code {
	padding: 1px 5px;
}

img {
	width: 100%;
	display: block;
	outline: 10px solid #ffee00;
	margin-top: 1.8rem;
}

a img:hover {
	outline: 10px solid #10F0F0;
}

/* misc */
:lang(ko){
font-family: sans-serif;
}

::selection {
background-color: #ffee00;
color: #000000;
text-shadow: none;
}