:root {
  --base: #dd1c90;
  --spacing: 10px;
  --blur: 3px;
}

body {
  text-align: center;
}

input {
  width:100px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 95%;
  margin: 0 auto;
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.control {
  padding: 0 2rem;
  margin-top: 2rem;
}

.control > * {
  display: block;
  text-align: center;
}