:root {
  --base: #dd1c90;
  --spacing: 10px;
  --blur: 3px;
}

body {
  font-family: serif;
  margin: 0;
  border-top: 8px solid #000;
  font-size: 1.8rem;
  text-align: center;
}

input {
  width:100px;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
  max-width: 90%;
}

a {
  font-weight: bold;
  color: #1c56dd;
}

a:hover {
  color: #1c56dd;
  text-decoration: none;
  cursor: ne-resize;
}

.hl {
  color: var(--base);
}

.controls {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}

.control {
  padding: 0 2rem;
  margin-top: 2rem;
}

.control > * {
  display: block;
}