   :root {
     --grey216: #D8D8D8;
     --grey247: #F7F7F7;
   }
   
   html {
    box-sizing: border-box;
    background: var(--mid-cyan);
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  input {
    width: 100%;
    padding: 2rem;
  }

  .search-form {
    margin: 5rem auto;
    max-width: 40rem;
  }

  input.search {
    position: relative;
    z-index: 2;
    top: 1rem;
    left: -4rem;
    margin: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), inset 0 0 2px rgba(0, 0, 0, 0.2);
    border: 10px solid var(--grey247);
    border-radius: 0.5rem;
    width: 120%;
    outline: 0;
    font-size: 2.5rem;
    font-family: serif;
    text-align: center;
  }

  .suggestions {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .suggestions li {
    justify-content: space-between;
    display: flex;
    transition: background 0.2s;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    border-bottom: 1px solid var(--grey216);
    padding: 2rem;
    background: var(--white);
    list-style: none;    
    text-transform: capitalize;
  }

  .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, var(--white) 0%, var(--grey247) 100%);
  }
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, var(--white) 0%, var(--grey247) 100%);
  }

  span.population {
    font-size: 1.5rem;
  }

  .hl {
    background: var(--yellow);
  }