body {
  flex: 1;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.clock {
  position: relative;
  margin: 0 auto;
  box-shadow:
    1px -1px 0 1px var(--grey124),
    inset -15px 8px 5px 5px var(--grey185);
  border: 10px solid var(--black);
  border-radius: 50%;
  width: 30rem;
  height: 30rem;
  padding: 1.2rem;
  background: var(--white);
}

.clock-face {
  position: relative;
  transform: translateY(-3px);
  width: 100%;
  height: 100%;
}

.centre-support {
  position: absolute;
  top: 8.1rem;
  left: 8.1rem;
  width: 14rem;
  height: 14rem;
  box-shadow: -10px 7px 5px 1px var(--grey185);
  border-radius: 50%;
  background: var(--black);
}

.hand {
  position: absolute;
  top: 15rem;
  transform: rotate(90deg);
  transform-origin: 100%;
  transition: all 0.05s cubic-bezier(0.1, 2.7, 0.58 ,1);
  height: 3px;
}

.hour-hand {
  left: calc(50% - 5rem);
  width: 5rem;
  background: var(--gold);
}

.hour-hand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5rem;
  display: block;
  width: 1.3rem;
  height: 3px;
  background: var(--gold); 
}

.min-hand {
  left: calc(50% - 7rem);
  width: 7rem;
  background: var(--bronze);
}

.min-hand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 7rem;
  display: block;
  box-shadow: -1px 1px 1px 1px var(--grey60);
  width: 1.3rem;
  height: 3px;
  background: var(--bronze);  
}

.second-hand {
  left: calc(50% - 3rem + 1px);
  width: 3rem;
  background: linear-gradient(120deg, var(--grey120), var(--grey200));
}

.second-hand::after {
  content: "";
  position: absolute;
  top: 0;
  left: 3rem;
  display: block;
  width: 1.3rem;
  height: 3px;
  background: var(--grey120);
}

.hour-circle {
  position: absolute;
  top: 4.15rem;
  left: 4.15rem;
  border-radius: 50%;
  width: 21.9rem;
  height: 21.9rem;  
  background: var(--white);
}

.minutes-circle {
  position: absolute;
  top: 1.1rem;
  left: 1.1rem;
  border-radius: 50%;
  width: 28rem;
  height: 28rem;
  background: var(--white);
}

.hand-circle {
  position: absolute;
  top: calc(50% - 0.4rem);
  left: calc(50% - 0.4rem);
  border-radius:50%;
  width: 0.8rem;
  height: 0.8rem;
  background:linear-gradient(120deg, var(--bronze), var(--gold));  
}

.centre-circle {
  position: absolute;
  top: calc(50% - 0.1rem);
  left: calc(50% - 0.1rem);
  box-shadow: -1px 1px 1px 0px var(--grey60);
  border-radius: 50%;
  width: 0.3rem;
  height: 0.3rem;  
  background: var(--black);
}

.noon-six, .one-seven, .two-eight, .three-nine, .four-ten, .five-eleven {
  position: absolute;
  top: 15rem;
  width: 100%;
  height: 0.4rem;
  background: var(--black);  
}

.noon-six {
  transform: rotate(90deg);
}

.one-seven {
  transform: rotate(300deg);
}

.two-eight {
  transform: rotate(330deg);
}

.four-ten {
  transform: rotate(30deg);
}

.five-eleven {
  transform: rotate(60deg);
}

.one-thirtyone, .two-thirtytwo, .three-thirtythree, .four-thirtyfour, .six-thirtysix, .seven-thirtyseven, .eight-thirtyeight, .nine-thirtynine, .eleven-fourtyone, .twelve-fourtytwo, .thirteen-fourtythree, .fourteen-fourtyfour, .sixteen-fourtysix, .seventeen-fourtyseven, .eighteen-fourtyeight, .nineteen-fourtynine, .twentyone-fiftyone, .twentytwo-fiftytwo, .twentythree-fiftythree, .twentyfour-fiftyfour, .twentysix-fiftysix, .twentyseven-fiftyseven, .twentyeight-fiftyeight, .twentynine-fiftynine {
  position: absolute;
  top: 15rem;
  width: 100%;
  height: 0.2rem;
  background: var(--grey200);  
}

.one-thirtyone {
  transform: rotate(276deg);
  background:linear-gradient(90deg, var(--grey200) 98%, var(--grey140));
}

.two-thirtytwo {
  transform: rotate(282deg);
  background: linear-gradient(90deg, var(--grey200) 97%, var(--grey140));
}

.three-thirtythree {
  transform: rotate(288deg);
  background: linear-gradient(90deg, var(--grey200) 96%, var(--grey140));
}

.four-thirtyfour {
  transform: rotate(294deg);
  background: linear-gradient(90deg, var(--grey200) 95%, var(--grey140));
}

.six-thirtysix, .seven-thirtyseven, .eight-thirtyeight, .nine-thirtynine, .eleven-fourtyone, .twelve-fourtytwo, .thirteen-fourtythree, .fourteen-fourtyfour {
  background: linear-gradient(90deg, var(--grey200), var(--grey140));
}

.six-thirtysix {
  transform: rotate(306deg);
}

.seven-thirtyseven {
  transform: rotate(312deg);
}

.eight-thirtyeight {
  transform: rotate(318deg);
}

.nine-thirtynine {
  transform: rotate(324deg);
}

.eleven-fourtyone {
  transform: rotate(336deg);
}

.twelve-fourtytwo {
  transform: rotate(342deg);
}

.thirteen-fourtythree {
  transform: rotate(348deg);
}

.fourteen-fourtyfour {
  transform: rotate(354deg);
}

.sixteen-fourtysix {
  transform: rotate(6deg);
  background-image:linear-gradient(90deg, var(--grey200) 95%, var(--grey140));
}

.seventeen-fourtyseven {
  transform: rotate(12deg);
  background:linear-gradient(90deg, var(--grey200) 95%, var(--grey140));
}

.eighteen-fourtyeight {
  transform: rotate(18deg);
  background:linear-gradient(90deg, var(--grey200) 97%, var(--grey140));
}

.nineteen-fourtynine {
  transform: rotate(24deg);
  background:linear-gradient(90deg, var(--grey200) 98%, var(--grey140));
}

.twentyone-fiftyone {
  transform: rotate(36deg);
  background:linear-gradient(90deg, var(--grey200) 99%, var(--grey140));
}

.twentytwo-fiftytwo {
  transform: rotate(42deg);
}

.twentythree-fiftythree {
  transform: rotate(48deg);
}

.twentyfour-fiftyfour {
  transform: rotate(54deg);
}

.twentysix-fiftysix {
  transform: rotate(66deg);
}

.twentyseven-fiftyseven {
  transform: rotate(72deg);
}

.twentyeight-fiftyeight {
  transform: rotate(78deg);
}

.twentynine-fiftynine {
  transform: rotate(84deg);
}
