html {
  background: var(--magenta);
}

.inbox {
  margin: 5rem auto;
  box-shadow: 1rem 1rem 0 rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  max-width: 40rem;
  background: var(--white);  
}

.item {
  align-items: center;
  display: flex;
  border-bottom: 0.1rem solid var(--grey226);
}

.item:last-child {
  border-bottom:0;
}

input:checked + p {
  text-decoration: line-through;
  background: var(--grey247);
}

input[type="checkbox"] {
  margin: 2rem;
}

p {
  flex: 1;
  transition: background 0.2s;
  margin: 0;
  border-left: 0.1rem solid var(--grey185);
  padding: 2rem;  
}