body {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background: var(--orange);  
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0 0.5rem;
  width: 100%;
  background:transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  border: 0.2px solid rgba(1, 1, 1, 0);
  width: 100%;
  height: 0.6rem;
  background: rgba(255,255,255,0.8);
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -0.4rem;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
  border-radius: 5rem;
  height: 1.4rem;
  width: 1.4rem;
  background: var(--magenta);
  cursor: pointer;  
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--cyan);
}
input[type=range]::-moz-range-track {
  border: 0.2px solid rgba(1, 1, 1, 0);
  width: 100%;
  height: 0.6rem;
  background: var(--white);
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  border-radius: 5rem;
  height: 1.8rem;
  width: 1.8rem;
  background: var(--magenta);
  cursor: pointer;
}

.player {
  position: relative;
  overflow: hidden;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  border:10px solid var(--yellow);
  max-width:750px;  
  font-size: 0;  
}

.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  border: 0;  
  max-width: 5rem;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: 0;
  line-height:1;
  text-align: center;
  color: var(--white);
}

.player__button:focus {
  border-color: var(--orange);
}

.player__slider {
  width: 1rem;
  height: 3rem;
}

.player__controls {
  position: absolute;
  bottom:0;
  flex-wrap:wrap;
  display: flex;
  transform: translateY(100%) translateY(-0.5rem);
  transition: all .3s;
  width: 100%;  
  background:rgba(255,255,255,0.25);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height:15px;
}

.player__controls > * {
  flex:1;
}

.progress {
  position: relative;
  flex:10;
  flex-basis:100%;
  display:flex;
  transition: height 0.3s;
  height:5px;
  cursor:ew-resize;
  background:rgba(255,255,255,0.5);
}

.progress__filled {
  flex: 0;
  flex-basis: 0%;
  width: 0%;
  background:var(--magenta);
}