
html {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100vh;
  background: url('../img/seoul05.jpg') center no-repeat;
  background-size:cover;
  text-align: center;
}

body{
  border: 0;
}

h1 {
  line-height: 3rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}

svg {
  margin-bottom: 3rem;
  border-radius: 50%;
  width: 20rem;
  padding: 2rem;
  background: rgba(0,0,0,0.1);
  fill: var(--white);  
}

.wrapper {
  border: 10px solid rgba(0,0,0,1);
  max-width: 40re,;
  padding: 3rem;  
  background: var(--white);
}

.plates {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.plates li {
  display: flex;
  margin-top: 0;
  border-bottom: 2px solid var(--black);
  padding: 1rem 0;  
}

.plates label {
  flex: 1;
  cursor: pointer;
  
}

.plates input {
  display: none;
}

.plates input + label:before {
  content: '⬜️';
  margin-right: 1rem;
}

.plates input:checked + label:before {
  content: '🍜';
}

.add-items {
  display: flex;
  margin-top: 2rem;
}

.add-items input {
  flex-grow: 1;
  border: 2px solid var(--black);
  padding: 1rem;
  outline: 0;
  font-size: 100%;
  font-family: serif;
  letter-spacing: 0.05rem;
  color: var(--black);
}

.add-items input[type="submit"] {
  margin-left: 1rem;
  background: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--white);  
}