html {
  box-sizing: border-box;
  background: var(--blue);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  text-align: center;
}

.display__time-left {
  margin: 0;
  font-size: 25rem;
  line-height: 1;
  font-weight: 100;
  text-shadow: 5px 5px 0 rgba(0,0,0,1);
  color:var(--white);
}

.timer {
  flex-direction:column;
  display: flex;
  min-height: 100vh;
}

.timer__controls {
  display: flex;
}

.timer__controls > * {
  flex: 1;
  border: 0.5rem solid var(--black);
  border-top: none;
}

.timer__controls button {
  border-bottom: 0.5rem solid var(--black);
  border-left: 0.5rem solid var(--black);
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  border: 0;
  padding: 2.5rem;
  font-family: serif;
  font-size: 2rem;
}

.timer__controls input:focus {
  outline: 5px solid var(--yellow);
}

.timer__button {
  border: 0;
  padding: 1rem;
  background: var(--white);
  cursor: pointer;
  font-size: 2rem;
  font-family: serif;
  text-transform: uppercase;
  color:var(--black);
}

.timer__button:focus, .timer__button:hover {
  background:var(--yellow);
  outline: 0;
  color: var(--black);
}

.display {
  flex:1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display:flex;
}

.display__end-time {
  font-size: 4rem;
  color:var(--white);
  text-shadow: 5px 5px 0 var(--black);
}

.finished {
  color: var(--yellow);
}