body {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  background: url("../img/seoul06.jpg");
  background-color: var(--dark-cyan);
  background-size: cover;  
}

h1 {
  margin: -2rem 0 2rem -2rem;
  border-bottom: 0.5rem solid var(--yellow);
  width: calc(100% + 4rem);
  padding: 0.5rem;
  background: var(--magenta);
  font-size: 5rem;
  font-weight: 100;
  text-align: center;  
  text-shadow: 0.3rem 0.3rem 0 var(--cyan);
}

.voiceinator {
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 0 auto;
  border: 1rem solid var(--black);
  width: 50rem;
  padding: 2rem;  
  background: var(--white);
}

.voiceinator input,
.voiceinator button,
.voiceinator select,
.voiceinator textarea {
  display: block;
  margin: 1rem 0;
  width: 100%;
  background:var(--grey247);
  outline: 0;
  font-size: 2rem;  
}

.voiceinator textarea {
  margin-top: 3rem;
  border: 0.2rem solid var(--black);
  width: 98.5%;
  height: 20rem;  
}

.voiceinator button {
  position: relative;
  float: left;
  margin-bottom: 0;
  border: 0.4rem solid var(--black);
  width: 49%;
  padding: 1rem 2rem;
  background:var(--white);
  cursor: pointer;
  font-size: 2rem;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--black);
}

.voiceinator button#speak {
  background-color: var(--black);
  color: var(--white);
}

.voiceinator button:active {
  top: 0.2rem;
}

.voiceinator button:nth-of-type(1) {
  margin-right: 2%;
}
