h1:first-child, h2:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
  margin-top: auto;
}

body {
  min-height: 100vh;
  background: 
  linear-gradient(45deg, #dd1c90, hsla(340, 100%, 55%, 0) 70%),
  linear-gradient(135deg, #1c56dd, hsla(225, 95%, 50%, 0) 80%),
  linear-gradient(225deg, #1faa22, hsla(140, 90%, 50%, 0) 80%),
  linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

nav {
  position: relative;
  perspective: 600px;
}

.cool > li > a {
  color: #000000;
  text-decoration: none;
  background:rgba(0,0,0,0.05);
  padding: 5px 15px;
  display: inline-block;
  margin:20px;
  border-radius: 20px;
}

a:hover {
  cursor: pointer;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.cool > li {
  position: relative;
  display:flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  position: absolute;
  overflow: hidden;
  padding:20px;
  top:-20px;
  border-radius:2px;
  transition: all 0.2s;
  transform: translateY(100px);
  will-change: opacity;
  display: none;
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  width:100px;
  height:100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
  transition:all 0.2s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity:0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  float:left;
  margin-right:20px;
  width: 150px;
  height: 150px;
}

.colours {
  min-width:300px;
}

.colours li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid #000000;
}

.dropdown a {
  text-decoration: none;
}

a.button {
  background:black;
  display: block;
  padding:10px;
  color:white;
  margin-bottom: 10px;
  text-align: center;
}

.F99E1F {
  position: relative;
}

.F99E1F::after {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-color: #F99E1F;
  border: 2px solid #000000;
  margin-right: 5px;
}

.button[href*=twitter] { background: #019FE9; }
.button[href*=website] { background: #3B5998; }
.button[href*=github] { background: #ffc600; }