body {
  min-height: 100vh;
  background: 
  linear-gradient(45deg, var(--magenta), hsla(340, 100%, 55%, 0) 70%),
  linear-gradient(135deg, var(--blue), hsla(225, 95%, 50%, 0) 80%),
  linear-gradient(225deg, var(--green), hsla(140, 90%, 50%, 0) 80%),
  linear-gradient(315deg, var(--orange), hsla(35, 95%, 55%, 0) 70%);
}

h1:first-child, h2:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
  margin-top: auto;
}

nav {
  position: relative;
  perspective: 60rem;
}

.cool > li > a {
  display: inline-block;
  margin: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
  background:rgba(0,0,0,0.05);
  text-decoration: none;
  color: var(--black);
}

a:hover {
  cursor: pointer;
}

nav ul {
  justify-content: center;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.cool > li {
  position: relative;
  display:flex;
  justify-content: center;
}

.dropdown {
  position: absolute;
  display: none;
  opacity: 0;
  transform: translateY(10rem);
  overflow: hidden;
  transition: all 0.2s;
  will-change: opacity;
  border-radius: 0.2rem;
  top: -2rem;
  padding: 2rem;  
}

.trigger-enter .dropdown {
  display: block;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  position: absolute;
  justify-content: center;
  display: flex;
  opacity: 0;
  transform-origin: 50% 0;
  transition: all 0.2s, opacity 0.1s, transform 0.2s;
  border-radius: 0.4rem;
  box-shadow: 0 5rem 10rem rgba(50,50,93,.1), 0 1.5rem 3.5rem rgba(50,50,93,.15), 0 0.5rem 1.5rem rgba(0,0,0,0.1);
  width: 10rem;
  height: 10rem;
  background: var(--white);
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  display: block;
  transform: translateY(-50%) rotate(45deg);
  width: 2rem;
  height: 2rem;
  background:var(--white);
}

.bio {
  justify-content: center;
  align-items: center;
  display: flex;
  min-width: 50rem;  
  line-height: 1.7;
}

.bio img {
  float: left;
  margin-right: 2rem;
  width: 15rem;
  height: 15rem;
}

.colours {
  min-width: 30rem;
}

.colours li {
  display: block;
  border-bottom: 0.1rem solid var(--black);
  padding: 1rem 0; 
}

.colours li a {
  margin-left: 3.5rem;
  color: var(--black);
}

a[href^="http://"]:not([href*="github.io"]):hover, a[href^="https://"]:not([href*="github.io"]):hover {
  color: var(--black);
}

.colours li span {
  position: relative;
}

.colours li span::after {
  content: "";
  position: absolute;
  top: 0.1rem;
  right: -3rem;
  display: inline-block;
  margin-right: 0.5rem;
  border: 0.2rem solid var(--black);
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown a {
  text-decoration: none;
}

a.button {
  display: block;
  margin-bottom: 1rem;
  padding: 1rem;
  background: var(--black);
  text-align: center;
  color: var(--white);
}

.deep-cerise::after {
  background-color: var(--magenta);
}

.cerulean-blue::after {
  background-color: var(--blue); 
}

.forest-green::after {
  background-color: var(--green);
}

.dark-tangerine::after {
  background-color: var(--orange);
}

.button[href*=twitter]:hover, .button[href*=alice]:hover {
  color: var(--white) !important;
}