body {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
  background: url('../img/seoul08.jpg');
  background-size: cover;
}
.wrapper {
  display: flex;
  width: 88rem;
}
video {
  border: 1rem solid var(--black);
}

.speed {
  flex:1;
  align-items:flex-start;
  display:flex;
  overflow: hidden;
  margin: 1rem;
  box-shadow:0 0 1px 3px rgba(0,0,0,0.1);
  border: 1rem solid var(--black);
  border-radius: 5rem;
  background:var(--dark-cyan);
}

.speed-bar {
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom: 1rem solid var(--black);
  width: 100%;
  height:16.3%;
  padding: 0.2rem;
  background: var(--orange);
  font-weight: bold;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
  color: var(--black);  
}
