body {
  background: var(--magenta);
}

.words {
  position: relative;
  
  margin: 5rem auto;
  box-shadow: 10px 10px 0 rgba(0,0,0,0.1);
  border-radius: 0.5rem;
  max-width: 50rem;
  padding: 1rem 2rem 1rem 5rem;
  background: var(--white);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(var(--grey226)), color-stop(4%, var(--white))) 0 0.4rem;
  background-size: 100% 3rem;
  line-height: 3rem;
}
p {
  margin: 0 0 3rem;
}

p::first-letter {
  text-transform: uppercase;
}

.words:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3rem;
  border-left: 1px solid var(--grey185);
  width: 0.4rem;
}