html {
  box-sizing: border-box;
  background: var(--green);
  text-align: center;
}

h1:first-child {
  margin-top: 5rem;
}

h1 {
  margin-bottom: 0;
  font-size: 10rem;
  line-height: 1;
  text-align: center;
}

button {
  margin-top: 4rem;
  border: 0.5rem solid var(--black);
  padding: 1rem 2rem;
  background: var(--white);
  font-size: 3rem;
  font-family: serif;
  font-weight: bold;
  text-transform: uppercase;
}

button:focus {
  outline: 0;
}

button:hover {
  background: var(--black);
  color: var(--white);
}

.score {
  border: 1rem solid var(--black);
  border-radius:1rem;
  padding: 0 3rem;
  background: var(--white);
  line-height: 1;
  font-weight: bold;
}

.game {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  width: 60rem;
  height: 40rem; 
}

.hole {
  position: relative;
  flex: 1 0 33.33%;
  overflow: hidden;
}

.hole:after {
  content: '';
  position: absolute;
  z-index: 2;
  bottom: -3rem;
  display: block;
  width: 100%;
  height: 7rem;
  background: url('../svg/dirt.svg') bottom center no-repeat;
  background-size: contain;
}

.mole {
  position: absolute;
  top: 100%;
  transition:all 0.4s;
  width: 100%;
  height: 100%;
  background:url('../svg/mole.svg') bottom center no-repeat;
  background-size:60%;
}

.hole.up .mole {
  top: 0;
}
