:root {
	--black: #000000;
	--grey60: #3c3c3c;
  --grey120: #787878;
  --grey124: #7c7c7c;
  --grey140: #8c8c8c;
  --grey185: #b9b9b9;
	--grey200: #c8c8c8;
	--grey216: #d8d8d8;
	--grey226: #e2e2e2;
  --grey247: #f7f7f7;
	--grey: #eff0f1;
	--white: #ffffff;
	--purple: #9940ff;
	--magenta: #dd1c90;
	--orange: #f99e1f;
	--yellow: #ffee00;
	--green: #1faa22;
	--cyan: #10f0f0;
	--mid-cyan: #34c6c9;
	--dark-cyan: #3bc1ac;
	--blue: #1c56dd;
  --gold: #d4b9a5;
  --bronze: #bb937a;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* document */
html {
	font-size: 62.5%;
}

/* sectioning & structuring */
body {
	border-top: 0.8rem solid;
	font-size: 1.8rem;
	line-height: 1.8;
	font-family: serif;
}

header, main {
	max-width: 47rem;
	padding: 0 1.8rem;
}

header {
	margin: 1.8rem auto 0 auto;
}

main {
	margin: 4rem auto;
}

/* headings */
h1 {
	font-size: 4rem;
	font-weight: bold;
}

h2 {
	margin-top: 1.8rem;
	font-size: 2.4rem;
	font-weight: bold;	
}

h3 {
	margin-top: 1.8rem;
	font-size: 2.1rem;
	font-weight: bold;
}

/* text & lists */
p, ul, ol {
	margin-top: 1.8rem;
}

h1:first-child, h2:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
	margin-top: 0;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

li {
	margin-top: 0.8rem;
}

ul.exercises {
	list-style: none;
}

ul.exercises > li:not(first-child) {
	margin-top: 3rem;
}

nav.links {
	margin-top: 3rem;
	line-height: 1rem;
	text-align: center;
}

/* phrasing */
a {
	font-weight: bold;
	color: var(--blue);
}

a:hover {
	cursor: e-resize;
	text-decoration: none;
}

a[href^="http://"]:not([href*="github.io"]):hover,
a[href^="https://"]:not([href*="github.io"]):hover {
    cursor: ne-resize;
    color: var(--green);
}

header a:hover {
	cursor: w-resize;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

code {
	background: var(--grey);
	font-family: monospace;
}

p code, li code {
	padding: 0.1rem 0.5rem;
}

img.preview {
	display: block;
	margin-top: 1.8rem;
	width: 100%;
	outline: 1rem solid var(--yellow);
}

a img:hover {
	outline: 1rem solid var(--cyan);
}

/* misc */
:lang(ko){
font-family: sans-serif;
}

::selection {
background: var(--yellow);
text-shadow: none;
}