<main>
  <h1>Scoped CSS variables &amp; <span class='hl'>JS</span> 🔅🔆</h1>
  <div class="controls">
    <div class="control">
      <input id="spacing" type="range" name="spacing" min="10" max="200" value="10" data-sizing="px">
      <label for="spacing">padding</label>
    </div>
    <div class="control">
      <input id="blur" type="range" name="blur" min="0" max="25" value="3" data-sizing="px">
      <label for="blur">blur</label>
    </div>
    <div class="control">
      <input id="base" type="color" name="base" value="#dd1c90">
      <label for="base">colour</label>
    </div>
  </div>
  <img src="../img/seoul01.jpg"/>
  <p>Photography by <a href="https://www.instagram.com/steveroe_/">Steve Roe</a>.</p>
  </p>
</main>