<div class="inbox">
  <div class="item">
    <input type="checkbox">
    <p>Go for a walk 🌳</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Book karaoke 🎤</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Paint a picture 🎨</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Call a friend 📞</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Post letters ✉️</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Finish book 📚</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Take out recycling ♻️</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Pet a cat 🐱</p>
  </div>
  <div class="item">
    <input type="checkbox">
    <p>Dance in the rain 💧</p>
  </div>
</div>