<ul id="videos">
  <li data-time="5:43">
    Video 1 <span class="duration">[5:43]</span>
  </li>
  <li data-time="2:33">
    Video 2 <span class="duration">[2:33]</span>
  </li>
  <li data-time="3:45">
    Video 3 <span class="duration">[3:45]
  </li>
  <li data-time="0:47">
    Video 4 <span class="duration">[0:47]
  </li>
  <li data-time="5:21">
    Video 5 <span class="duration">[5:21]
  </li>
  <li data-time="6:56">
    Video 6 <span class="duration">[6:56]
  </li>
  <li class="total">
    <span class="key">Total time:</span>
    <span class="minutes"></span> minutes
    <span class="seconds"></span> seconds
</ul>
