<nav class="top">
  <div class="dropdownBackground">
    <span class="arrow"></span>
  </div>
  <ul class="cool">
    <li>
      <a href="#">About</a>
      <div class="dropdown dropdown1">
        <div class="bio">
          <img src="https://avatars1.githubusercontent.com/u/14370434?s=460&v=4">
          <p>Alice is a user experience designer based in Edinburgh, Scotland.</p>
        </div>
      </div>
    </li>
    <li>
      <a href="#">Courses</a>
      <ul class="dropdown courses">
        <li>
          <span class="code">RFB</span>
          <a href="https://ReactForBeginners.com">React For Beginners</a>
        </li>
        <li>
          <span class="code">ES6</span>
          <a href="https://ES6.io">ES6 For Everyone</a>
        </li>
        <li>
          <span class="code">NODE</span>
          <a href="https://LearnNode.com">Learn Node</a>
        </li>
        <li>
          <span class="code">STPU</span>
          <a href="https://SublimeTextBook.com">Sublime Text Power User</a>
        </li>
        <li>
          <span class="code">WTF</span>
          <a href="http://Flexbox.io">What The Flexbox?!</a>
        </li>
        <li>
          <span class="code">GRID</span>
          <a href="https://CSSGrid.io">CSS Grid</a>
        </li>
        <li>
          <span class="code">LRX</span>
          <a href="http://LearnRedux.com">Learn Redux</a>
        </li>
        <li>
          <span class="code">CLPU</span>
          <a href="http://CommandLinePowerUser.com">Command Line Power User</a>
        </li>
        <li>
          <span class="code">MMD</span>
          <a href="http://MasteringMarkdown.com">Mastering Markdown</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">On the web</a>
      <ul class="dropdown dropdown3">
        <li><a class="button" href="https://www.twitter.com/alicegherbison">Twitter</a></li>
        <li><a class="button" href="https://www.alicegherbison.com">Website</a></li>
        <li><a class="button" href="https://github.com/alicegherbison">Github</a></li>
      </ul>
    </li>
  </ul>
</nav>