:root {
  --base: var(--magenta);
  --spacing: 1rem;
  --blur: 0.3rem;
}

body {
  text-align: center;
}

input {
  width: 10rem;
}

img {
  margin: 0 auto;
  max-width: 95%;
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur)); 
}

.hl {
  color: var(--base);
}

.controls {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  display: flex;
  margin-bottom: 2rem;  
}

.control {
  margin-top: 2rem;
  padding: 0 2rem;
}

.control > * {
  display: block;
  text-align: center;
}