body {
  margin: 0;
  background: url("../img/seoul07.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

#films {
  background: rgba(255, 255, 255, 1);
  width: 300px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 1);
}
#films li {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  padding: 10px;
}
#films li:last-child {
  border-bottom: 0;
}