body {
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
  background: url("../img/seoul07.jpg");
  background-size: cover;
}

#films {
  margin: auto;
  box-shadow: 0 0 0 1rem var(--black);
  width: 30rem;
  padding: 1rem;
  background: var(--white);
}
#films li {
  border-bottom: 0.1rem solid var(--black);
  padding: 1rem;
}
#films li:last-child {
  border-bottom: 0;
}