html {
  background: var(--purple);
}

h1 {
  margin-top: 0;
}

.site-wrap {
  margin: 5rem auto;
  max-width: 70rem;
  padding: 4rem;
  background: var(--white);
  text-align: justify;
}

.align-left {
  float: left;
  margin-right: 2rem;
}

.align-right {
  float: right;
  margin-left: 2rem;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}

.align-left.slide-in {
  transform:translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform:translateX(30%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(0%) scale(1);
}