html {
  background:var(--yellow);
}

button {
  position: relative;
  margin-top: 1rem;
  border: 0.4rem solid var(--black);
  padding: 1rem 2rem;
  font-size: 1.8rem;
  font-family: serif;
  font-weight: bold;  
  text-transform: uppercase;
}

button:active {
  top: 0.2rem;
}

button:hover {
  background-color: var(--black);
  cursor: pointer;
  color: var(--white); 
}

.photobooth {
  margin: 2rem auto;
  border-radius: 0.2rem;
  max-width: 80rem;
  text-align: center;
}

.photobooth:after {
  content: '';
  clear: both;
  display: block;
}

.photo {
  float: left;
  border: 1rem solid var(--black);
  width: 100%;  
}

.player {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 1rem solid var(--black);
  width: 20rem;
}

.strip {
  padding: 2rem;
  text-align: left;
}
.strip img {
  overflow-x: scroll;
  border: 0.3rem solid var(--black);
  width: 10rem;
  padding:0.8rem 0.8rem 2.5rem 0.8rem;
  background: var(--white);
}

.strip a:nth-child(5n+1) img { transform: rotate(10deg); }
.strip a:nth-child(5n+2) img { transform: rotate(-2deg); }
.strip a:nth-child(5n+3) img { transform: rotate(8deg); }
.strip a:nth-child(5n+4) img { transform: rotate(-11deg); }
.strip a:nth-child(5n+5) img { transform: rotate(12deg); }
