html {
  box-sizing: border-box;
  background: url('../img/seoul04.jpg') fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
}

.items {
  position: relative;
  transform: scale(0.98);
  will-change: transform;
  perspective: 100rem;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: all 0.2s;
  width: 100%;
  height: 70rem;
  padding: 10rem;
  cursor: pointer;
  font-size: 0;
  white-space: nowrap;
  user-select: none;
}

.items.active {
  transform: scale(1);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.item {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  box-shadow: inset 0 0 0 1rem var(--black);
  width: 20rem;
  height: calc(100% - 4rem);  
  font-size: 8rem;
  font-weight: bold;
  color: var(--black); 
}

.item:nth-child(7n+1) { background: var(--purple);}
.item:nth-child(7n+2) { background: var(--magenta);}
.item:nth-child(7n+3) { background: var(--orange);}
.item:nth-child(7n+4) { background: var(--yellow);}
.item:nth-child(7n+5) { background: var(--green);}
.item:nth-child(7n+6) { background: var(--dark-cyan);}
.item:nth-child(7n+7) { background: var(--blue);}

.item:nth-child(even) { transform: scaleX(1.31) rotateY(40deg); }
.item:nth-child(odd) { transform: scaleX(1.31) rotateY(-40deg); }
