{{ define "header" }}
<header>
	{{ .Content }}
</header>
{{ end }}
{{ define "main" }}
<main>
	<ul class="exercises">
		{{ range (.Pages.ByParam "day") }}
		<li>
			<h2>Day {{ .Params.day | strings.TrimLeft "0" }}: {{ .Title }}</h2>
			<a href="{{ .Permalink }}"><img src="{{ (delimit (slice "img/day" .Params.Day ".png") "") | absURL }}" class="preview" alt="{{ .Params.screenshot }}" /></a>
			<nav class="links">
				<a href="{{ .Permalink }}">Demo</a> | <a href="https://github.com/alicegherbison/javascript30/blob/master/static/js/day{{ .Params.day }}.js">JS</a> | <a href="https://github.com/alicegherbison/javascript30/blob/master/static/css/day{{ .Params.day }}.css">CSS</a> | <a href="https://github.com/alicegherbison/javascript30/blob/master/layouts/partials/demo/day{{ .Params.day }}.html">HTML</a>
			</nav>
			<h3>Learnings</h3>
			{{ .Content }}				
		</li>
		{{ end }}
	</ul>
</main>
{{ end }}